/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/02/2017, 23:45:31
    Author     : Lucas
    Page       : Solicitante          
*/
td textarea{
    border: 0px;
    border-radius: 5px;
    width: 100%;
    resize: none;
}

.ui-column-title, td, .ui-button-text, .ui-button-text-icon-left, .ui-widget, .ui-menuitem{
    font-size: 0.9vw;
}

.ui-datatable{
    width: 100% !important;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display:block;
}

.center-block{
    width: 400px;
    margin: 0 auto;
}

.produtosDesc{
    background-color: #e8ebef;
    width:70px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    border-radius: 5px;
    color: #555;
    font-size: 1vw;
    margin-left: auto !important;
    margin-right: auto !important;
}

.produtosDesc:hover{
    background-color: #DDD;
    font-size: 1vw;
    color: #111;
}

.ui-inputswitch{
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    
}

.ui-wizard{
    margin-top: 0px !important;
}

.ui-spinner-input{
    width: 50% !important;
}

.ui-inputfield{
    padding-right: 1% !important;
}

.contador{
    float: right;
    padding-right: 1%;
}