/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/02/2017, 23:45:31
    Author     : Lucas
    Page       : Solicitante          
*/

body,html{ 
    padding: 0; 
    margin: 0; 
    font-family: Arial; 
    font-size: 16px; 
    background: url("../img/background.jpg") no-repeat;
    height: 100%; 
}

.centerX_Y{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    position: relative;
    top: 50%;

    -webkit-transform: translateY( -50% );
    -moz-transform: translateY( -50% );
    transform: translateY( -50% );
    background-color: #e7a61a;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 100px 1px rgba(217,195,217,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(217,195,217,1);
    box-shadow: 0px 0px 15px 0px rgba(217,195,217,1);
}

table{
    margin-left: auto;
    margin-right: auto;
}

.ui-link{
    text-decoration: none;
    color: #666;
    float: right;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 36.4px;
}

.ui-link:hover{
    color: #333;
}
.footer{
    /*Posiciona o footer (rodapé)*/
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    height: 9%;
    border-top: 1px solid #666;
     color: #555;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 15.4px;
    text-align: center;
}

.linkLF{
    text-decoration: none;
    color: #666;
}

.linkLF:hover{
    text-decoration: none;
    color: #555;
}

.footer span{
   font-size: 12px;
}

.ui-selectonemenu{
    width: 223px !important;
    color: #789;
    height: 30px !important;
}

.ui-selectonemenu-label{
    height: 22px !important;
}

label{
    color: #333;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 15.4px; 
}

.ui-inputfield{
    width: 250px !important;
     color: #555;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 15.4px;
    padding-left:  2%;
}

.ui-inputtextarea{
    overflow: auto !important;
}

.buttonCenter{
    text-align: center !important;
}

#display{
    color: #555;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    float: right;
}